<%- include('common/header') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />

    <main>
      <h1><%= restaurent.name %></h1>
      <p><%= restaurent.cuisine %> | <%= restaurent.address %></p>
      <p><%= restaurent.description %></p>
      <p><a href="<%= restaurent.website %>" target="_blank">View Website</a></p>
    </main>
  </body>
</html>
